<p-toolbar>
  <div class="ui-toolbar-group-left">
    <div class="header-title">Collective2</div>
  </div>

  <div class="ui-toolbar-group-right">
    User ID: {{userId}}&nbsp;
    <button pButton type="button" icon="fa-cog" (click)="menu.toggle($event)"></button>
    <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
  </div>
</p-toolbar>


<div>&nbsp;</div>
<div class="ui-g">
  <!--<div class="ui-g-12 ui-md-8 ui-lg-4 ui-widget ui-widget-content">-->
  <div class="ui-g-1"></div>
  <div class="ui-g-10 ui-widget ui-widget-content center">
    <!--homepage-container-->
    <table class="home-table">
      <tr>
        <td>
          <a routerLink="/user-strategies-list">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>My strategies</div>
          </a>
        </td>
        <td>
          <a routerLink="/watchlist">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Watchlists</div>
          </a>
        </td>

        <td>
          <a routerLink="/quotes">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Quotes</div>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <a routerLink="/c2account">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>C2 Account</div>
          </a>
        </td>
        <td>
          <a routerLink="/disclaimer">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Disclaimer</div>
          </a>
        </td>
        <td>
          <a routerLink="/login">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Login</div>
          </a>
        </td>

      </tr>

    </table>
  </div>
</div>

