
/* shadow is fine, but nt for the darkness theme
  .ui-widget-content {
  box-shadow: 5px 5px 5px lightgrey;
}

*/

.center{
  text-align:center;
}

.home-table {
  border-collapse: collapse;
  /*border-radius: 5px;*/
  /*border-style: hidden;*/
  width: 100%;
}

td {
  text-align: center;
  padding: 15px;
}

a:link, a:visited {
  text-decoration: none;
  color: orange;
  /*cursor: pointer;*/
}


.homepage-container {
  border-radius: 10px;
  border: 2px solid green;
  padding: 10px;
  text-align: center;
}


/* ===============

  trying to keep thing centered.

  See http://uplifted.net/programming/always-center-elements-responsive-site/

  But it should be better....

  ======================== */

/*.row {
  width: 100%;
  text-align: center;
}

.columns {
  vertical-align: top; 
  display: inline-block;
}

@media screen and (max-width: 680px) {
  .columns {
    width: 100%;
  }
}*/


