<!-- This component: SymbolSearchComponent -->
<!-- Child: StocksComponent -->
<div class="ui-g">
  <div class="ui-g-12">
    <div [ngSwitch]="selectedInstrument">
      <c2scrn-options *ngSwitchCase="'option'"
                      [optionsByExpiration]="optionsByExpirationFound"
                      [optionsByStrike]="optionsByStrikeFound"
                      [loadingOptionsByExpiration]="loadingOptionsByExpiration"
                      [loadingOptionsByStrike]="loadingOptionsByStrike"
                      (symbolSelectedEmmiter)="optionSelected($event)">
      </c2scrn-options>
      <c2scrn-forex *ngSwitchCase="'forex'"
                    [forexSymbols]="forexSymbols"
                    [loadingForex]="loadingForex"
                    (symbolSelectedEmmiter)="forexSelected($event)">
      </c2scrn-forex>
      <c2scrn-search-stocks-result *ngSwitchDefault
                                   [symbolsFound]="symbolsFound"
                                   [loading]="loadingSymbols"
                                   (symbolSelectedEmmiter)="symbolSelected($event)">
      </c2scrn-search-stocks-result>
    </div>
  </div>
</div>

