<ng-container *ngIf="fullNames">
  <p-selectButton [options]="instrumentsLong" [(ngModel)]="currentInstrument" (onOptionClick)="instrumentClick($event)"></p-selectButton>
</ng-container>
<ng-container *ngIf="!fullNames">
  <p-selectButton [options]="instrumentsShort" [(ngModel)]="currentInstrument" (onOptionClick)="instrumentClick($event)"></p-selectButton>
</ng-container>
