<div>
  <form>
    <input pInputText required type="search" name="input" [(ngModel)]="query" [size]="20" />
    <button type="submit" pButton name="submit" label="Go" (click)="searchsymbol()" icon="fa-search"></button>
    <span style="font-size:small;">&nbsp;{{selectedMarket}}</span>
  </form>
</div>
