<!-- This is Symbol Search Container template -->
<!-- Using SymbolSearchComponent: -->
<!--<c2scrn-symbol-search-component [internaSearchSymbolRequest]="(sandbox$.getSearchQuery$ | async)"
                                [symbolsFound]="(sandbox$.symbolsFound$ | async)"
                                [optionsByExpirationFound]="(sandbox$.optionsByExpirationFound$ | async)"
                                [optionsByStrikeFound]="(sandbox$.optionsByStrikeFound$ | async)"
                                [forexSymbols]="(sandbox$.forexSymbols$ | async)"
                                [loadingSymbols]="(sandbox$.loadingSymbols$ | async)"
                                [loadingOptionsByExpiration]="(sandbox$.loadingOptionsByExpiration$ | async)"
                                [loadingOptionsByStrike]="(sandbox$.loadingOptionsByStrike$ | async)"
                                [loadingForex]="(sandbox$.loadingForex$ | async)"
                                (symbolSearchEmmiter)="symbolSearch($event)"
                                (optionSearchEmmiter)="optionSearch($event)"
                                (loadForexDataEmmiter)="loadForexData($event)"
                                (symbolSelectedEmmiter)="symbolSelected($event)"
                                (optionSelectedEmmiter)="optionSelected($event)"
                                (forexSelectedEmmiter)="forexSymbolSelected($event)">
</c2scrn-symbol-search-component>-->

<c2scrn-symbol-search-component [selectedInstrument]="selectedInstrument"
                                [internaSearchSymbolRequest]="(sandbox$.getSearchQuery$ | async)"
                                [symbolsFound]="(sandbox$.symbolsFound$ | async)"
                                [optionsByExpirationFound]="(sandbox$.optionsByExpirationFound$ | async)"
                                [optionsByStrikeFound]="(sandbox$.optionsByStrikeFound$ | async)"
                                [forexSymbols]="(sandbox$.forexSymbols$ | async)"
                                [loadingSymbols]="(sandbox$.loadingSymbols$ | async)"
                                [loadingOptionsByExpiration]="(sandbox$.loadingOptionsByExpiration$ | async)"
                                [loadingOptionsByStrike]="(sandbox$.loadingOptionsByStrike$ | async)"
                                [loadingForex]="(sandbox$.loadingForex$ | async)"
                                (symbolSelectedEmmiter)="symbolSelected($event)"
                                (optionSelectedEmmiter)="optionSelected($event)"
                                (forexSelectedEmmiter)="forexSymbolSelected($event)">
</c2scrn-symbol-search-component>
