/* shadow is fine, but nt for the darkness theme
.ui-widget-content {
  box-shadow: 5px 5px 5px lightgrey;
}
*/

.center {
  text-align: center;
}

.strategy-home-table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden;
  width: 100%;
}

td {
  text-align: center;
  padding: 15px;
}

a:link, a:visited {
  text-decoration: none;
  color: orange;
  /*cursor: pointer;*/
}

.selected-strategy-container {
  border-radius: 10px;
  border: 2px solid green;
  padding: 10px;
  text-align: center;
}
