<app-user-strategy-header [strategyId]="strategy?.id"
                          [strategyName]="strategy?.systemName"
                          (settingsEvent)="settings()"></app-user-strategy-header>
<div>&nbsp;</div>
<div class="ui-g">
  <!--<div class="ui-g-12 ui-md-8 ui-lg-5 ui-widget ui-widget-content">-->
  <div class="ui-g-1"></div>
  <div class="ui-g-10 ui-widget ui-widget-content center">
    <h3 style="text-align:center"> {{strategy?.systemName}} ({{strategy?.id}})</h3>

    <table class="strategy-home-table">
      <tr>
        <td>
          <a [routerLink]="['/positions', strategy?.id]">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Positions</div>
          </a>
        </td>

        <td>
          <a [routerLink]="['/signals', strategy?.id]">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Signals</div>
          </a>
        </td>

        <td>
          <a [routerLink]="['/orderentryscreen', strategy?.id]">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Enter trade</div>
          </a>
        </td>
      </tr>

      <tr>
        <td>
          <!--<a [routerLink]="['/closedtrades', strategy?.id]">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Trades</div>
          </a>-->
          <a routerLink="/closedtrades">
            <div><img src="assets/pictures/c2-image.png" height="50"></div>
            <div>Trades</div>
          </a>
        </td>

        <td>
          <a routerLink="/">
            <div><img src="assets/pictures/c2-home.png"></div>
            <div>Home</div>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>

