<!-- Parent: Order Screen Container template-->
<!-- Child: Ordr Screen Shell-->

<div class="ui-g">
  <div class="ui-g-12" style="background-color:antiquewhite;text-align:center">
    (Collective2 simulated layout)
  </div>
</div>


<div class="ui-g">
  <div class="ui-g-2" style="background-color:antiquewhite">
    <div class="ui-g">
      <div class="ui-g-12">
        <h3>Collective2</h3>
        (simulated layout)
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <!--<p-panelMenu [model]="items" styleClass="main-menu" [style]="{'width':'150px','heigth':'400px'}"></p-panelMenu>-->
        <p-panelMenu [model]="items" multiple=""></p-panelMenu>
      </div>
    </div>
  </div>

  <div class="ui-g-10">

    <div class="ui-g">
      <div class="ui-g-12" style="background-color:snow;border-bottom:solid thin">
        Strategy: Testovaci system A (30076808)
        <!--<p>Strategy: {{strategyName}} ({{strategyId}})</p>-->
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-10">
        <c2scrn-shell [strategyId]="orderScreenSandbox$.orderScreenStrategyId$ | async"
                      [strategyName]="orderScreenSandbox$.orderScreenSame$ | async"
                      [lastQuote]="(orderScreenSandbox$.lastQuotes$ | async)"
                      [fundamentalData]="(orderScreenSandbox$.fundamentalData$ | async)"
                      (symbolSearchEmmiter)="symbolSearch($event)"
                      (optionSearchEmmiter)="optionSearch($event)"
                      (loadForexDataEmmiter)="loadForexData($event)"
                      (symbolSelectedEmmiter)="symbolSelected($event)"
                      (notifyParent)="sendSignalEvent($event)"></c2scrn-shell>
      </div>
      <div class="ui-g-2" style="background-color:antiquewhite;text-align:center">
      </div>
    </div>


  </div>
</div>
