<div>
  <form>
    <input pInputText required type="search" name="input" [(ngModel)]="underlayingSymbol" [size]="20" [placeholder]="placeholder" />
    <button type="submit" pButton name="submit" label="Go" (click)="searchsymbol()" icon="fa-search"></button>
    <span style="font-size:small;">&nbsp;US</span>
  </form>
</div>
