<ng-container *ngIf="selectedpresentationType === 1">

  <div class="ui-g" *ngIf='strikesList.length > 0'>

    <div class="ui-g-12" style="text-align:center;">
      <p-selectButton [options]="presentationType" [(ngModel)]="selectedpresentationType"></p-selectButton>
    </div>

    <div class="ui-g-5">
      <p-dropdown [options]="expirationsList" [(ngModel)]="selectedExpiration" (onChange)="onExpirationChange($event)"></p-dropdown>
    </div>

    <div class="ui-g-7">
      <p-selectButton [options]="putCall" [(ngModel)]="selectedType"></p-selectButton>
    </div>
  </div>

  <p-dataTable [value]="strikesTable" [loading]="loadingOptionsByStrike" scrollable="true" sortField="Strike" [style]="{'margin-top':'10px'}">

    <p-column field="Strike" header="Strike" [sortable]="true" [style]="{'width':'15%','text-align':'center'}"></p-column>

    <p-column header="Call/Put" [style]="{'width':'85%'}">
      <ng-template let-strike="rowData" pTemplate="body">
        <table>
          <tr *ngIf="selectedType === 'C' || selectedType === 'Both'">
            <td style="width:100px"><button type="button" pButton label="Call" class="ui-button-success" styleClass="col-button" (click)="optionSelected(strike.Call.Symbol)" icon="fa-check"></button></td>
            <td>{{strike.Call.Description}}</td>
          </tr>
          <tr *ngIf="selectedType === 'P' || selectedType === 'Both'">
            <td style="width:100px"><button type="button" pButton label="Put" class="ui-button-primary" styleClass="col-button" (click)="optionSelected(strike.Put.Symbol)" icon="fa-check"></button></td>
            <td>{{strike.Put.Description}}</td>
          </tr>
        </table>
      </ng-template>
    </p-column>
  </p-dataTable>
</ng-container>


<ng-container *ngIf="selectedpresentationType === 2">

  <div class="ui-g" *ngIf='expirationsList.length > 0'>
    <div class="ui-g-12" style="text-align:center;">
      <p-selectButton [options]="presentationType" [(ngModel)]="selectedpresentationType"></p-selectButton>
    </div>
    <div class="ui-g-5">
      <p-dropdown [options]="strikesList" [(ngModel)]="selectedStrike" (onChange)="onStrikeChange($event)"></p-dropdown>
    </div>
    <div class="ui-g-7">
      <p-selectButton [options]="putCall" [(ngModel)]="selectedType"></p-selectButton>
    </div>
  </div>

  <p-dataTable [value]="expirationsTable" [loading]="loadingOptionsByExpiration" scrollable="true" sortField="Expiration" [style]="{'margin-top':'10px'}">

    <p-column header="Expiration" field="Expiration" [sortable]="true" [style]="{'width':'30%'}">
      <ng-template let-expdate="rowData" pTemplate="body">{{expdate.Expiration.split("T")[0]}}</ng-template>
    </p-column>

    <p-column header="Call/Put" [style]="{'width':'70%'}">
      <ng-template let-exp="rowData" pTemplate="body">
        <table>
          <tr *ngIf="selectedType === 'C' || selectedType === 'Both'">
            <td style="width:100px"><button type="button" pButton label="Call" class="ui-button-success" styleClass="col-button" (click)="optionSelected(exp.Call.Symbol)" icon="fa-check"></button></td>
            <td>{{exp.Call.Description}}</td>
          </tr>
          <tr *ngIf="selectedType === 'P' || selectedType === 'Both'">
            <td style="width:100px"><button type="button" pButton label="Put" class="ui-button-primary" styleClass="col-button" (click)="optionSelected(exp.Put.Symbol)" icon="fa-check"></button></td>
            <td>{{exp.Put.Description}}</td>
          </tr>
        </table>
      </ng-template>
    </p-column>
  </p-dataTable>
</ng-container>

