/* You can add global styles to this file, and also import other style files */

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */

/*form darkness theme*/
/*html {
  background-color: black;
  color: white;
}*/


.gesture {
  min-height:600px;
}

.header-title {
  /*font-family: Play,verdana,tahoma,sans-serif;*/
  color: orangered;
  font-size: large;
  font-weight: bold;
  text-align: center;
  /*width: 75%;*/
  /*vertical-align:central;*/
}

.header-divider {
  font-size: large;
  /*font-weight: bold;*/
}


.header-strategy-name {
  font-weight: bold;
  text-align: center;
}



@media screen and (min-width: 600px) {
  .center-on-screen {
    width: 600px;
    margin: 0 auto;
  }
}
