<!-- This is Order Screen Shell template-->
<!--<a [routerLink]="[{ outlets: { signals: ['toSignals'] } }]">Signals</a>
<a [routerLink]="[{ outlets: { positions: ['positions'] } }]">Positins</a>-->
<div class="ui-g">
  <div class="ui-g-6">
    <c2scrn-component [strategyId]="strategyId"
                      [strategyName]="strategyName"
                      [lastQuote]="lastQuote"
                      [fundamentalData]="fundamentalData"
                      (notifyParent)="sendSignalEvent($event)"
                      (instrumentSelectedEmmiter)="instrumentSelected($event)"
                      (symbolSearchEmmiter)="symbolSearch($event)"
                      (optionSearchEmmiter)="optionSearch($event)"
                      (loadForexDataEmmiter)="loadForexData($event)"
                      (symbolSelectedEmmiter)="symbolSelected($event)"></c2scrn-component>
  </div>

  <div class="ui-g-6">
    <div class="ui-g">
      <div class="ui-g-12">[chips here]</div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="searchPanel">
          <c2scrn-symbol-search-container [selectedInstrument]="selectedInstrument"></c2scrn-symbol-search-container>
        </div>
      </div>
    </div>
  </div>
</div>



<p-tabView>
  <p-tabPanel header="Signals">
    <router-outlet name="signals"></router-outlet>
  </p-tabPanel>

  <p-tabPanel header="Open positions">
    <router-outlet name="positions"></router-outlet>
  </p-tabPanel>

  <p-tabPanel header="Log">
    Log here...
  </p-tabPanel>
</p-tabView>
