<!--<p-toolbar>
  <div class="ui-toolbar-group-left">

    <button type="button" pButton [routerLink]="['/strategies', strategyId]" icon="fa-chevron-left"></button>

  </div>

  <span>&nbsp;</span>
  <span class="component-header-text">{{ ('Order Entry - ' + strategyName)|elipsis:'30'}} </span>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>-->

<p-toolbar>
  <div class="ui-toolbar-group-left">
    <app-header-container [title]="'Orders'" [strategyId]="strategyId" [strategyName]="strategyName"></app-header-container>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>
