<p-toolbar>
  <div class="ui-toolbar-group-left">

    <button type="button" pButton routerLink="/" icon="fa-arrow-left"></button>

  </div>

  <span>&nbsp;</span>
  <span class="header-title">Quote</span>

  <div class="ui-toolbar-group-right">
    <!--<button type="button" pButton class="ui-inputgroup-addon ui-button-success" (click)="trade()" label="Trade" icon="fa-check"></button>-->
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>

