/*
.ui-dropdown-label.markets {
  background-color: green;
}


.ui-dropdown-trigger.markets {
  background-color: blue;
}

.ui-inputtext.markets {
  background-color: red;
}
  */

/*<label class="ng-tns-c6-0 ui-dropdown-label ui-inputtext ui-corner-all ng-star-inserted" ng-reflect-ng-class="[object Object]" > US</label >*/
/*<div class="ui-dropdown-trigger ui-state-default ui-corner-right" > <span class="ui-clickable fa fa-fw fa-caret-down" ng-reflect-klass="ui-clickable" ng-reflect-ng-class="fa fa-fw fa-caret-down" > </span > </div >*/
