
<app-symbol-search-header [returnToRoute]="internaSearchSymbolRequest.returnToRoute"
                          (settingsEvent)="settings()"></app-symbol-search-header>

<div class="ui-g">
  <div class="ui-g-12" style="text-align:center;">
    <!--<div class="ui-inputgroup">-->
    <app-instrument-selection [currentInstrument]="selectedInstrument"
                              (selectedInstrumentEmitter)="selectedInstrumentReceiver($event)"></app-instrument-selection>

    <!--<span style="text-align:left;"><p-menu #menu popup="popup" [model]="marketsMenuItems"></p-menu></span>
  <button type="button" pButton icon="fa fa-flag-o" (click)="menu.toggle($event)"></button>-->
    <!--<p-dropdown class="ui-inputgroup-addon"  [options]="markets" [(ngModel)]="selectedMarket"></p-dropdown>-->
    <!--</div>-->
    <!--<div class="ui-inputgroup">
    <p-dropdown  [options]="instruments" [(ngModel)]="selectedInstrument"></p-dropdown>
    <p-dropdown  [options]="markets" [(ngModel)]="selectedMarket"></p-dropdown>
  </div>-->

  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12" style="text-align:center;">
    <div [ngSwitch]="selectedInstrument">
      <app-forex-search-box *ngSwitchCase="'forex'"
                            [query]="internaSearchSymbolRequest.query"
                            (queryTextEmitter)="queryTextReceiver($event)"></app-forex-search-box>
      <app-options-search-box *ngSwitchCase="'option'"
                              [underlayingSymbol]="internaSearchSymbolRequest.query"
                              (queryTextEmitter)="queryTextReceiver($event)"></app-options-search-box>
      <app-stocks-search-box *ngSwitchDefault
                             [query]="internaSearchSymbolRequest.query"
                             (queryTextEmitter)="queryTextReceiver($event)"></app-stocks-search-box>
    </div>
  </div>
</div>

<div class="ui-g">
  <div class="ui-g-12">
    <div [ngSwitch]="selectedInstrument">
      <app-options-result *ngSwitchCase="'option'"
                          [optionsByExpiration]="optionsByExpirationFound"
                          [optionsByStrike]="optionsByStrikeFound"
                          [loadingOptionsByExpiration]="loadingOptionsByExpiration"
                          [loadingOptionsByStrike]="loadingOptionsByStrike"
                          (symbolSelectedEmmiter)="optionSelected($event)">
      </app-options-result>
      <app-forex-result *ngSwitchCase="'forex'"
                        [forexSymbols]="forexSymbols"
                        [loadingForex]="loadingForex"
                        (symbolSelectedEmmiter)="forexSelected($event)">
      </app-forex-result>
      <app-stocks-result *ngSwitchDefault
                         [symbolsFound]="symbolsFound"
                         [loading]="loadingSymbols"
                         (symbolSelectedEmmiter)="symbolSelected($event)">
      </app-stocks-result>
    </div>
  </div>
</div>

