<!--<app-signals-header [strategyId]="strategyId" [strategyName]="strategyName"
                    (settingsEvent)="settings()"></app-signals-header>-->


  <div class="ui-g">
    <!--<div class="ui-g-12 ui-md-8 ui-lg-6">-->
    <div class="ui-g-12">
      <p-dataTable [value]="signals" [loading]="loading" [sortField]="'posted_time'" scrollable="true" scrollWidth="100%" [style]="{'margin-top':'10px'}">

        <p-column header="Details" [style]="{'width':'64px','text-align':'center'}">
          <ng-template let-position="rowData" pTemplate="body">
            <!--<a (click)="showDialog(position)"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
            <button type="button" pButton styleClass="col-button" (click)="showDialog(position)" icon="fa-external-link-square"></button>
          </ng-template>
        </p-column>

        <p-column field="posted_time" header="Posted" [sortable]="true" [style]="{'width':'125px'}">
          <!--<ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] | truncate:'10'}}</span>
          </ng-template>-->
        </p-column>

        <p-column field="symbol" header="Symbol" [sortable]="true" [style]="{'width':'125px'}"></p-column>

        <p-column field="action" header="B/S" [sortable]="true" [style]="{'width':'50px'}"></p-column>

        <p-column field="quant" header="Quant" [sortable]="true" [style]="{'width':'50px','text-align':'right'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] | number:'1.0-0'}}</span>
          </ng-template>
        </p-column>

        <p-column field="status" header="Status" [style]="{'width':'60px'}"></p-column>

        <!--<p-column styleClass="col-button" [style]="{'text-align':'center'}">
          <ng-template let-strategy="rowData" pTemplate="body">
            <button type="button" pButton (click)="showDialog(position)" icon="fa-chevron-right"></button>
          </ng-template>
        </p-column>-->

      </p-dataTable>
    </div>
  </div>

  <p-dialog *ngIf="selectedSignal" header="Signal Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true">

    <div class="ui-g signal">
      <div class="ui-g-4">Status: </div><div class="ui-g-6">{{selectedSignal.status}}</div>
      <div class="ui-g-4">Signal ID: </div><div class="ui-g-6">{{selectedSignal.signal_id}}</div>
      <div class="ui-g-4">Symbol: </div><div class="ui-g-6">{{selectedSignal.symbol}}</div>
      <div class="ui-g-4">Name: </div><div class="ui-g-6">{{selectedSignal.name}}</div>
      <div class="ui-g-4">Action: </div><div class="ui-g-6">{{selectedSignal.action}}</div>
      <div class="ui-g-4">Quantity: </div><div class="ui-g-6">{{selectedSignal.quant}}</div>
      <div class="ui-g-4">Limit: </div><div class="ui-g-6">{{selectedSignal.isLimitOrder}}</div>
      <div class="ui-g-4">Posted: </div><div class="ui-g-6">{{selectedSignal.posted_time}}</div>
      <div class="ui-g-4">Is market: </div><div class="ui-g-6">{{selectedSignal.isMarketOrder}}</div>
      <div class="ui-g-4">Stop: </div><div class="ui-g-6">{{selectedSignal.isStopOrder}}</div>
      <div class="ui-g-4">TIF: </div><div class="ui-g-6">{{selectedSignal.tif}}</div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-chevron-right" (click)="closeDialog()" label="Back" iconPos="right"></button>
        <button type="button" pButton icon="fa-close" [disabled]="lock" (click)="cancelSignal(selectedSignal)" label="Cancel Signal" class="ui-button-danger"></button>
        <span>&nbsp;&nbsp;</span>
        <span><p-inputSwitch onLabel="Off" offLabel="On" [(ngModel)]="lock" [style]="{'margin-top':'12px'}"></p-inputSwitch></span>
        <span>&nbsp;&nbsp;</span>
      </div>
    </p-footer>

    <!--<div class="ui-g-12">
      <div class="ui-g-3">Strike:</div><div class="ui-g-3">{{selectedSignal.strike}}</div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">Underlying:</div><div class="ui-g-3">{{selectedSignal.underlying}}</div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">Put/Call:</div><div class="ui-g-3">{{selectedSignal.putcall}}</div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">Expiration:</div><div class="ui-g-3">{{selectedSignal.expiration}}</div>
    </div>-->
    <!--<div class="ui-g-12">
      <div class="ui-g-3">:</div><div class="ui-g-3">{{selectedSignal.instrument}}</div>
    </div>-->
    <!--<div class="ui-g-12">
      <div class="ui-g-3">:</div><div class="ui-g-3">{{selectedSignal.posted_time_unix}}</div>
    </div>-->
  </p-dialog>
