<app-positions-header [strategyId]="strategyId" [strategyName]="strategyName"
                      (settingsEvent)="settings()"></app-positions-header>

<div class="gesture" (swiperight)="swipeRight()" (swipeleft)="swipeLeft()">

  <div class="ui-g">
    <!--<div class="ui-g-12 ui-md-8 ui-lg-6">-->
    <div class="ui-g-12">
      <!--<p-dataTable [value]="positions" [loading]="loading" scrollable="true" scrollWidth="600px">-->
      <p-dataTable [value]="positions" [loading]="loading" [sortField]="'openedWhen'" scrollable="true" scrollWidth="100%" [style]="{'margin-top':'10px'}">

        <p-column header="Details" [style]="{'width':'64px','text-align':'center'}">
          <ng-template let-position="rowData" pTemplate="body">
            <!--<a (click)="showDialog(position)"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
            <button type="button" pButton styleClass="col-button" (click)="showDialog(position)" icon="fa-external-link-square"></button>
          </ng-template>
        </p-column>


        <p-column field="openedWhen" header="Opened" [sortable]="true" [style]="{'width':'125px'}">
          <!--<ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] | truncate:'10'}}</span>
          </ng-template>-->
        </p-column>

        <p-column field="symbol" header="Symbol" [sortable]="true" [style]="{'width':'125px'}"></p-column>

        <p-column field="quant_opened" header="Quant" [style]="{'width':'50px'}"></p-column>
        <!--<p-column field="quant_opened" header="Quant"></p-column>-->
        <!--<p-column field="opening_price_VWAP" header="Basis" [style]="{'text-align':'right','width':'15%'}">-->
        <p-column field="opening_price_VWAP" header="Basis" [style]="{'width':'70px'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] | number:'1.2-2'}}</span>
          </ng-template>
        </p-column>


        <p-column field="PL" header="PL" [style]="{'width':'70px'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] | number:'1.2-2'}}</span>
          </ng-template>
        </p-column>

        <!--<p-column field="long_or_short" header="Type" [style]="{'text-align':'center','width':'10%'}"></p-column>-->
        <p-column field="long_or_short" header="Type" [style]="{'width':'70px'}"> </p-column>


        <!--<p-column styleClass="col-button" [style]="{'text-align':'center'}">
          <ng-template let-strategy="rowData" pTemplate="body">
            <button type="button" pButton (click)="showDialog(position)" icon="fa-chevron-right"></button>
          </ng-template>
        </p-column>-->

      </p-dataTable>

    </div>
  </div>

  <p-dialog header="Position Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true">

    <div class="ui-g position" *ngIf="selectedPosition">

      <div class="ui-g-4">Symbol: </div><div class="ui-g-6">{{selectedPosition.symbol}}</div>
      <div class="ui-g-4">Instrument: </div><div class="ui-g-6">{{selectedPosition.instrument}}</div>
      <div class="ui-g-4">Description: </div><div class="ui-g-6">{{selectedPosition.symbol_description}}</div>
      <div class="ui-g-4">P/L: </div><div class="ui-g-6">{{selectedPosition.PL}}</div>
      <div class="ui-g-4">Long/Short: </div><div class="ui-g-6">{{selectedPosition.long_or_short}}</div>
      <div class="ui-g-4">Open/Closed: </div><div class="ui-g-6">{{selectedPosition.open_or_closed}}</div>
      <div class="ui-g-4">Opened: </div><div class="ui-g-6">{{selectedPosition.openedWhen}}</div>
      <div class="ui-g-4">Quant Opened: </div><div class="ui-g-6">{{selectedPosition.quant_opened}}</div>
      <div class="ui-g-4">Opening VWAP: </div><div class="ui-g-6">{{selectedPosition.opening_price_VWAP}}</div>
      <div class="ui-g-4">Closed When: </div><div class="ui-g-6">{{selectedPosition.closedWhen}}</div>
      <div class="ui-g-4">Quant Closed: </div><div class="ui-g-6">{{selectedPosition.quant_closed}}</div>
      <div class="ui-g-4">Closing Price: </div><div class="ui-g-6">{{selectedPosition.closing_price_VWAP}}</div>
      <div class="ui-g-4">Point Value: </div><div class="ui-g-6">{{selectedPosition.ptValue}}</div>
      <div class="ui-g-4">Put/Call: </div><div class="ui-g-6">{{selectedPosition.putcall}}</div>
      <div class="ui-g-4">Expiration: </div><div class="ui-g-6">{{selectedPosition.expir}}</div>
      <div class="ui-g-4">Strike: </div><div class="ui-g-6">{{selectedPosition.strike}}</div>
      <div class="ui-g-4">Underlying: </div><div class="ui-g-6">{{selectedPosition.underlying}}</div>
      <div class="ui-g-4">Trade Id: </div><div class="ui-g-6">{{selectedPosition.trade_id}}</div>
      <div class="ui-g-4">StrategyId: </div><div class="ui-g-6">{{selectedPosition.strategyId}}</div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <span>&nbsp;&nbsp;</span>
        <p-inputSwitch onLabel="Off" offLabel="On" [(ngModel)]="lock" [style]="{'margin-top':'12px'}"></p-inputSwitch>
        <span>&nbsp;&nbsp;</span>
        <button type="button" pButton icon="fa-chevron-right" (click)="closeDialog()" label="Back" iconPos="right"></button>
        <button type="button" pButton icon="fa-close" [disabled]="lock" (click)="closePosition(selectedPosition)" label="Close Position" class="ui-button-danger"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
