<!--<login-form (submitted)="onSubmit($event)"
            [pending]="pending$ | async"
            [errorMessage]="error$ | async">
</login-form>-->
<app-login-form (submitted)="onLoginSubmit($event)"
                (logoutSubmitted)="onLogout($event)">
</app-login-form>
