<!--<button type="button" pButton [routerLink]="['/', route, strategyId]" icon="fa-chevron-left"></button>-->
<button type="button" pButton [routerLink]="gohome ? '/' : ['/', userStrategyRoute, strategyId]" icon="fa-arrow-left"></button>
<span>&nbsp;</span>
<span class="header-title">{{title}}</span>
<span class="header-divider"> | </span>
<span class="header-strategy-name">{{ strategyName | elipsis:'30' }} </span>

