<app-my-strategies-header></app-my-strategies-header>

<div class="ui-g">
  <!--<div class="ui-g-12 ui-md-8 ui-lg-5">-->
    <div class="ui-g-12">

      <p-dataTable [value]="strategies" [loading]="loading">

        <!--<p-column field="system_id" header="Id" [style]="{'text-align':'center'}"></p-column>-->
        <p-column field="systemName" header="Name" [sortable]="true" [style]="{'width':'60%','text-align':'center'}"></p-column>

        <p-column field="isAlive" header="Is Alive" [sortable]="true" [style]="{'text-align':'center'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] === '1' ? 'Yes' : 'No'}}</span>
          </ng-template>

        </p-column>
        <p-column field="monthlyFee" header="Fees" [style]="{'text-align':'right'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <span>{{row[col.field] | number:'1.0-0'}}</span>
          </ng-template>
        </p-column>

        <!--<p-column [style]="{'width':'32px'}">
          <ng-template let-strategy="rowData" pTemplate="body">
            <a [routerLink]="['/user-strategy', strategy.id]"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </ng-template>
        </p-column>-->

        <p-column styleClass="col-button" [style]="{'text-align':'center'}">
        <ng-template let-strategy="rowData" pTemplate="body">
          <button type="button" pButton (click)="selectStrategy(strategy.id,strategy.systemName)" icon="fa-chevron-right"></button>
        </ng-template>
      </p-column>


      </p-dataTable>

      <p-dialog header="Strategy Details" [(visible)]="displayDialog" [modal]="true">

        <div class="ui-g" *ngIf="selectedForDialog">

          <div class="ui-g-12">
            <div>Id: {{selectedForDialog.id}}</div>
          </div>

          <div class="ui-g-12">
            <div> Name: {{selectedForDialog.systemName}}</div>
          </div>

          <div class="ui-g-12">
            <div>Description: {{selectedForDialog.longDescription}}</div>
          </div>
          <div class="ui-g-12">&nbsp;</div>
          <div class="ui-g-12">...and so on...</div>
          <div class="ui-g-12">&nbsp;</div>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa-close" (click)="closeDialog()" label="Close"></button>
            </div>
          </p-footer>
        </div>
      </p-dialog>
    </div>
  </div>
