<p-toolbar>
  <div class="ui-toolbar-group-left">
    <app-header-container [title]="'Strategy'" [gohome]="true" [strategyId]="strategyId" [strategyName]="strategyName"></app-header-container>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>
