.c2title {
  /*font-family: Play,verdana,tahoma,sans-serif;*/
  /*text-align: center;*/
  color: orange;
  font-size: x-large;
  font-weight: bold;
  /*padding: 12px;*/
}

/* for Darkness theme. Do it also in main styles.css! */
/*.app_body {
  background-color: black;
  color: white;
}*/
