<!--<form [formGroup]="userform" (ngSubmit)="onLoginClicked(userform.value)">

</form>-->

<p-dialog header="Collective2 - Login" [visible]="true" modal="true" closable="">

  <form>
    <div class="ui-g">
      <div class="ui-g-12">
        <input type="email" name="email" [(ngModel)]="email" promptLabel="E-mail address" [style.width]="'100%'" placeholder="Email" autocomplete="on"/>
      </div>
      <div class="ui-g-12">
        <input type="password" name="password" pPassword [(ngModel)]="password" promptLabel="Password" feedback="" [style.width]="'100%'" placeholder="Password" autocomplete="off"/>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton type="submit" name="submit" class="ui-button-info" (click)="onLoginClicked()" label="Login" [style.width]="'100%'"></button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <button pButton type="button" name="cancel" [routerLink]="['/']" label="Cancel" [style.width]="'100%'"></button>
      </div>
      <div class="ui-g-12">
        <div style="text-align:center;">
          <a name="logout" (click)="onLogout()">Logout</a>
        </div>
      </div>
    </div>
  </form>



</p-dialog>

