
<app-order-entry-header [strategyId]="strategyId"
                        [strategyName]="strategyName"
                        (settingsEvent)="settings()"></app-order-entry-header>

<!--<div (swiperight)="swipeRight(right)" (swipeleft)="swipeLeft(left)">-->

  <div class="ui-g" style="text-align:center;">
    <div class="ui-g-12">
      <app-instrument-selection [currentInstrument]="selectedInstrument"
                                (selectedInstrumentEmitter)="selectedInstrumentReceiver($event)"></app-instrument-selection>
    </div>

    <div class="ui-g-12">
      <form>
        <input pInputText type="text" required name="input" [(ngModel)]="symbol" maxlength="20" style="width:150px;" />
        <button type="submit" pButton name="submit" class="ui-inputgroup-addon" (click)="sendRequest()" label="Data" icon="fa-check"></button>
        <button type="button" pButton class="ui-inputgroup-addon" (click)="searchsymbol()" icon="fa-search"></button>
      </form>
    </div>
  </div>


  <div class="ui-g" style="text-align:center;" *ngIf="fundamentalData as fData">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all">
        <div>
          <table style="text-align:center;">
            <tr>
              <td width="90%">{{fData.CompanyName  | elipsis:'30'}}</td>
              <td width="10%">
                <span class="ui-panel-titlebar-icon ui-panel-titlebar-toggler ui-corner-all ui-state-default">
                  <span [class]="collapsed ? 'fa fa-fw fa-plus' : 'fa fa-fw fa-minus'" (click)="toggleLastQuotePanel($event)"></span>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g" *ngIf="lastQuote" style="text-align:center;">
    <div class="ui-g-12 ui-g-nopad">
      <table style="width:100%;text-align:center;">
        <thead><tr><td (click)="bidClicked()">Bid</td><td (click)="lastTradeClicked()">Last</td><td (click)="askClicked()">Ask</td></tr></thead>
        <tr><td (click)="bidClicked()">{{lastQuote.bid}}</td><td (click)="lastTradeClicked()">{{lastQuote.last}}</td><td (click)="askClicked()">{{lastQuote.ask}}</td></tr>
      </table>
    </div>
  </div>

  <div class="ui-g" *ngIf="lastQuote" style="text-align:center;">
    <div class="ui-g" *ngIf="!smallLastQuotePanel">
      <div class="ui-g-12">
        <div class="ui-widget ui-corner-all">
          <div class="ui-widget-content">
            <div class="ui-g last-quote" style="text-align:center;">
              <div class="ui-g-6 title">Last trade: </div><div class="ui-g-6 value">{{lastQuote.last}}</div>
              <div class="ui-g-6 title">Last trade date: </div><div class="ui-g-6 value">{{lastQuote.lastTradeDate}}</div>
              <div class="ui-g-6 title">Last trade time: </div><div class="ui-g-6 value">{{lastQuote.lastTradeTime}}</div>
              <div class="ui-g-6 title">Change $: </div><div class="ui-g-6 value">{{lastQuote.change}}</div>
              <div class="ui-g-6 title">Change %: </div><div class="ui-g-6 value">{{lastQuote.percentChange}}</div>
              <div class="ui-g-6 title">Bid: </div><div class="ui-g-6 value">{{lastQuote.bid}}</div>
              <div class="ui-g-6 title">Bid time: </div><div class="ui-g-6 value">{{lastQuote.bidTime}}</div>
              <div class="ui-g-6 title">Ask: </div><div class="ui-g-6 value">{{lastQuote.ask}}</div>
              <div class="ui-g-6 title">Ask time: </div><div class="ui-g-6 value">{{lastQuote.askTime}}</div>
              <div class="ui-g-6 title">Low: </div><div class="ui-g-6 value">{{lastQuote.low}}</div>
              <div class="ui-g-6 title">High: </div><div class="ui-g-6 value">{{lastQuote.high}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
      <p-panel [toggleable]="true" collapsed="true">
        <p-header>
          <div *ngIf="fundamentalData as fData" style="text-align:center;">
            {{fData.CompanyName  | elipsis:'30'}}
          </div>

          <ng-container *ngIf="lastQuote">
            <table style="width:100%;text-align:center;">
              <thead><tr><td (click)="bidClicked()">Bid</td><td (click)="lastTradeClicked()">Last</td><td (click)="askClicked()">Ask</td></tr></thead>
              <tr>
              <tr><td (click)="bidClicked()">{{lastQuote.bid}}</td><td (click)="lastTradeClicked()">{{lastQuote.last}}</td><td (click)="askClicked()">{{lastQuote.ask}}</td></tr>
            </table>
          </ng-container>
        </p-header>

        <ng-container *ngIf="lastQuote">
          <div class="ui-g last-quote" style="text-align:center;">
            <div class="ui-g-6 title">Last trade: </div><div class="ui-g-6 value">{{lastQuote.last}}</div>
            <div class="ui-g-6 title">Last trade date: </div><div class="ui-g-6 value">{{lastQuote.lastTradeDate}}</div>
            <div class="ui-g-6 title">Last trade time: </div><div class="ui-g-6 value">{{lastQuote.lastTradeTime}}</div>
            <div class="ui-g-6 title">Change $: </div><div class="ui-g-6 value">{{lastQuote.change}}</div>
            <div class="ui-g-6 title">Change %: </div><div class="ui-g-6 value">{{lastQuote.percentChange}}</div>
            <div class="ui-g-6 title">Bid: </div><div class="ui-g-6 value">{{lastQuote.bid}}</div>
            <div class="ui-g-6 title">Bid time: </div><div class="ui-g-6 value">{{lastQuote.bidTime}}</div>
            <div class="ui-g-6 title">Ask: </div><div class="ui-g-6 value">{{lastQuote.ask}}</div>
            <div class="ui-g-6 title">Ask time: </div><div class="ui-g-6 value">{{lastQuote.askTime}}</div>
            <div class="ui-g-6 title">Low: </div><div class="ui-g-6 value">{{lastQuote.low}}</div>
            <div class="ui-g-6 title">High: </div><div class="ui-g-6 value">{{lastQuote.high}}</div>
          </div>
        </ng-container>
      </p-panel>
    </div>
  </div>-->

  <div class="ui-g">
    <div class="ui-g-6 ui-md-8 ui-sm-12"  style="text-align:center;">
      <div class="ui-g-6  ui-g-nopad">

        <!--<label for="orderType">Order Type</label>-->
        <!--<br/>-->
        <p-dropdown [options]="orderType" [(ngModel)]="selectedOrderType"></p-dropdown>  <!--[style]="{'width':'100px'}"-->
        <!--<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
      </div>

      <div class="ui-g-4  ui-g-nopad">
        <!--<label for="tif" class="entryfieldlabel">TIF</label>-->
        <!--<br />-->
        <p-inputSwitch id="tif" onLabel="Day" offLabel="GTC" [(ngModel)]="tif" [style]="{'margin-top':'7px'}"></p-inputSwitch>
      </div>
    </div>
  </div>

  <ng-container *ngIf="msgs.length > 0">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-messages [(value)]="msgs"></p-messages>
      </div>
    </div>
  </ng-container>

  <div class="ui-g" style="text-align:center;">
    <div class="ui-g-6 ui-md-8 ui-sm-12">
      <div class="ui-g-6 ui-g-nopad">
        <label for="limit" class="entryfieldlabel">Limit</label><br />
        <input pInputText type="number" id="limit" name="limit" [(ngModel)]="limitPrice" maxlength="10" min="0" class="numeric-entry-fields" [disabled]="limitPriceDisabled" />
      </div>
      <div class="ui-g-6 ui-g-nopad">
        <label for="stop" class="entryfieldlabel">Stop</label><br />
        <input pInputText type="number" id="stop" [(ngModel)]="stopPrice" maxlength="10" min="0" class="numeric-entry-fields" [disabled]="stopPriceDisabled" />
      </div>
    </div>
  </div>

  <div class="ui-g" style="text-align:center;">
    <div class="ui-g-6 ui-md-8 ui-sm-12">
      <div class="ui-g-6 ui-g-nopad">
        <label for="stopLoss" class="entryfieldlabel">Stop Loss</label><br />
        <input pInputText type="number" id="stopLoss" [(ngModel)]="stopLoss" maxlength="10" min="0" class="numeric-entry-fields" />
      </div>
      <div class="ui-g-6 ui-g-nopad">
        <label for="profitTarget" class="entryfieldlabel">Profit Target</label><br />
        <input pInputText type="number" id="profitTarget" [(ngModel)]="profitTarget" maxlength="10" min="0" class="numeric-entry-fields" />
      </div>
    </div>
  </div>

  <div class="ui-g" style="text-align:center;">
    <div class="ui-g-6 ui-md-8 ui-sm-12">
      <div class="ui-g-6 ui-g-nopad">
        <label for="quantity" class="entryfieldlabel">Quantity</label><br />
        <input pInputText type="number" id="quantity" [(ngModel)]="quantity" step="100" maxlength="10" min="0" class="numeric-entry-fields" />
      </div>
      <div class="ui-g-6 ui-g-nopad">
        <br />
        <p-inputSwitch onLabel="Off" offLabel="Go!" [(ngModel)]="lock"></p-inputSwitch>
      </div>
    </div>
  </div>

  <div class="ui-g" style="text-align:center;">
    <div class="ui-g-6 ui-md-8 ui-sm-12">
      <div class="ui-g-6 ui-g-nopad">
        <button type="button" pButton class="ui-button-success entry-scrren-button" [disabled]="lock" (click)="buy()" label=" Buy "></button>
      </div>
      <div class="ui-g-6 ui-g-nopad">
        <button type="button" pButton class="ui-button-warning entry-scrren-button" [disabled]="lock" (click)="short()" label="Short"></button>
      </div>
    </div>
    <div class="ui-g-6 ui-md-8 ui-sm-12">
      <div class="ui-g-6 ui-g-nopad">
        <button type="button" pButton class="ui-button-danger entry-scrren-button" [disabled]="lock" (click)="sell()" label=" Sell "></button>
      </div>
      <div class="ui-g-6 ui-g-nopad">
        <button type="button" pButton class="ui-button-info entry-scrren-button" [disabled]="lock" (click)="cover()" label="Cover"></button>
      </div>
    </div>
  </div>

  <div class="ui-g" style="text-align:center;">
    <div class="ui-g-6 ui-md-8 ui-sm-12">
      <div class="ui-g-4 ui-g-nopad">
        <p-toggleButton [(ngModel)]="parkuntilChecked" onLabel="Park is ON" offLabel="Park"></p-toggleButton>
      </div>
      <div class="ui-g-8 ui-g-nopad">
        <p-calendar *ngIf="parkuntilChecked" id="parkuntil" [(ngModel)]="parkuntil" [showTime]="true" placeholder="Enter time (EST)">
          <!--<p-footer>(Done button here)</p-footer>-->
        </p-calendar>
      </div>
    </div>
  </div>

<!--</div>-->
