.center {
  text-align:center;
}

.numeric-entry-fields {
  width: 90px;
}

.entry-scrren-button {
  width: 90px;
}

/*.askBidPane{
  background-color:lightgray;
}*/


.entryfieldlabel {
  font-size: small;
  /*color:gray;*/
}

.orderTypeLabel {
  /*font-size: small;*/
  height:10px;
  /*color: gray;*/
}


.company-name {
  border: solid;
  border-color: #323232;
  border-width: 1px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.title {
  text-align: left;
}

.value {
  text-align: right;
  font-weight: bold;
}
