.col-icon {
  width: 38px;
  text-align: center;
}

.col-button {
  width: 10%;
  text-align: center;
}


.position {
  padding: 1.5em;
  border-bottom: 1px solid #d9d9d9;
}

.ui-g > div {
  padding: .4em;
}

.ui-g .ui-g-6 {
  font-weight: bold;
}
