<p-dataTable [value]="forexSymbols" [loading]="loadingForex" scrollable="false" sortField="Symbol" [style]="{'margin-top':'10px'}">

  <p-column field="Symbol" header="Symbol" [sortable]="true" [style]="{'width':'70px'}"></p-column>

  <p-column header="Use" [style]="{'width':'64px','text-align':'center'}">
    <ng-template let-symbol="rowData" pTemplate="body">
      <button type="button" pButton styleClass="col-button" (click)="symbolSelected(symbol)" icon="fa-check"></button>
    </ng-template>
  </p-column>
  <p-column field="Descrip" header="Description" [style]="{'width':'200px'}"></p-column>

</p-dataTable>
