<!--<p-toolbar>
  <div class="ui-toolbar-group-left">

    <button type="button" pButton [routerLink]="['/strategies', strategyId]" icon="fa-chevron-left"></button>

  </div>

  <span>&nbsp;</span>
  <span class="component-header-text">{{ ('Positions - ' + strategyName) | elipsis:'30' }} </span>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>-->


<p-toolbar>
  <div class="ui-toolbar-group-left">
    <app-header-container [title]="'Positions'"
                            [strategyId]="strategyId"
                            [strategyName]="strategyName"></app-header-container>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>


  <!--<div class="ui-g ui-widget-content">
    <div class="ui-g-12 ui-md-8 ui-lg-5">
      <div class="ui-g-11">
        <app-header-container [title]="'Positions'"></app-header-container>
      </div>
      <div></div>
      <div class="ui-g-1">
        <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
      </div>
    </div>
  </div>-->
