<p-toolbar>
  <div class="ui-toolbar-group-left">

    <button type="button" pButton routerLink="/" icon="fa-arrow-left"></button>

  </div>

  <span>&nbsp;</span>
  <span class="header-title">My strategies</span>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-cog" (click)="settings()"></button>
  </div>
</p-toolbar>

