<!--<app-order-screen [strategyId]="(strategyFull$ | async).system_id"
                  [strategyName]="(strategyFull$ | async).systemName"
                  [lastQuote]="(sandbox$.lastQuotes$ | async)"
                  [fundamentalData]="(sandbox$.fundamentalData$ | async)"
                  [searchedSymbol$]="(sandbox$.searchedSymbol$ | async)"
                  (symbolSearchEmmiter)="symbolSearch($event)"
                  (symbolSelectedEmmiter)="symbolSelected($event)"
                  (notifyParent)="sendSignalEvent($event)"></app-order-screen>-->


<app-order-screen [strategyId]="sandbox$.orderScreenStrategyId$ | async"
                  [strategyName]="sandbox$.orderScreenSame$ | async"
                  [lastQuote]="(sandbox$.lastQuotes$ | async)"
                  [fundamentalData]="(sandbox$.fundamentalData$ | async)"
                  (symbolSearchEmmiter)="symbolSearch($event)"
                  (symbolSelectedEmmiter)="symbolSelected($event)"
                  (notifyParent)="sendSignalEvent($event)"></app-order-screen>

