<div class="ui-g">
  <div class="ui-g-12">
    <p-dataTable [value]="symbolsFound" [loading]="loading" scrollable="true" scrollHeight="400px" [style]="{'margin-top':'10px'}">
      <p-column header="Use" [style]="{'width':'64px','text-align':'center'}">
        <ng-template let-symbol="rowData" pTemplate="body">
          <button type="button" pButton styleClass="col-button" (click)="symbolSelected(symbol)" icon="fa-check"></button>
        </ng-template>
      </p-column>
      <p-column field="Symbol" header="Symbol" [style]="{'width':'125px'}"></p-column>
      <p-column field="Descrip" header="Description" [style]="{'width':'200px'}"></p-column>
      <p-column field="ListedMarket" header="Market" [style]="{'width':'65px'}"></p-column>
    </p-dataTable>
  </div>
</div>
