/*.last-quote {
  padding: 1.5em;
}

.fundamental-data {
  padding: 1.5em;
}


.ui-g > div {
  padding: .4em;
}*/

.company-name {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.title {
  text-align: left;
}

.value {
  text-align: right;
  font-weight: bold;
}

/*.ui-g .ui-g-6 {
  font-weight: bold;
  text-align: right;
}*/
