<app-quotes-header (settingsEvent)="settings()"></app-quotes-header>

<div class="ui-g">

  <div class="ui-g-12" style="text-align:center;">
    <form>
      <input pInputText type="text" required name="input" [(ngModel)]="symbol" [size]="16" min="1" placeholder="Symbol" />
      &nbsp;
      <button type="submit" pButton name="submit" class="ui-inputgroup-addon" (click)="sendRequest()" label="Data" icon="fa-check"></button>
      &nbsp;
      <button type="button" pButton class="ui-inputgroup-addon" (click)="searchsymbol()" icon="fa-search"></button> <!--label="Search"-->
    </form>
  </div>

  <div class="ui-g-12">
    <div *ngIf="fundamentalData as fData" class="company-name ui-widget ui-widget-content">
      {{fData.CompanyName}}
    </div>

    <p-tabView>
      <p-tabPanel header="Quotes">
        <ng-container *ngIf="lastQuote">
          <div class="ui-g last-quote" style="text-align:center;">
            <div class="ui-g-6 title">Last trade: </div><div class="ui-g-6 value">{{lastQuote.last}}</div>
            <div class="ui-g-6 title">Last trade date: </div><div class="ui-g-6 value">{{lastQuote.lastTradeDate}}</div>
            <div class="ui-g-6 title">Last trade time: </div><div class="ui-g-6 value">{{lastQuote.lastTradeTime}}</div>
            <div class="ui-g-6 title">Change $: </div><div class="ui-g-6 value">{{lastQuote.change}}</div>
            <div class="ui-g-6 title">Change %: </div><div class="ui-g-6 value">{{lastQuote.percentChange}}</div>
            <div class="ui-g-6 title">Bid: </div><div class="ui-g-6 value">{{lastQuote.bid}}</div>
            <div class="ui-g-6 title">Bid time: </div><div class="ui-g-6 value">{{lastQuote.bidTime}}</div>
            <div class="ui-g-6 title">Ask: </div><div class="ui-g-6 value">{{lastQuote.ask}}</div>
            <div class="ui-g-6 title">Ask time: </div><div class="ui-g-6 value">{{lastQuote.askTime}}</div>
            <div class="ui-g-6 title">Low: </div><div class="ui-g-6 value">{{lastQuote.low}}</div>
            <div class="ui-g-6 title">High: </div><div class="ui-g-6 value">{{lastQuote.high}}</div>
          </div>
        </ng-container>
      </p-tabPanel>


      <p-tabPanel header="Fundamental">
        <ng-container *ngIf="fundamentalData as fData">
          <div class="ui-g fundamental-data" style="text-align:center;">
            <div class="ui-g-6 title">Instrument:</div><div class="ui-g-6 value">{{fData.InstrumentType}}</div>
            <div class="ui-g-6 title">PE:</div><div class="ui-g-6 value">{{fData.PE}}</div>
            <div class="ui-g-6 title">Average volume:</div><div class="ui-g-6 value">{{fData.AverageVolume}}</div>
            <div class="ui-g-6 title">FiftyTwoWeekHigh:</div><div class="ui-g-6 value">{{fData.FiftyTwoWeekHigh}}</div>
            <div class="ui-g-6 title">FiftyTwoWeekLow:</div><div class="ui-g-6 value">{{fData.FiftyTwoWeekLow}}</div>
            <div class="ui-g-6 title">CalendarYearHigh:</div><div class="ui-g-6 value">{{fData.CalendarYearHigh}}</div>
            <div class="ui-g-6 title">CalendarYearLow:</div><div class="ui-g-6 value">{{fData.CalendarYearLow}}</div>
            <div class="ui-g-6 title">DividendYield:</div><div class="ui-g-6 value">{{fData.DividendYield}}</div>
            <div class="ui-g-6 title">DividendAmount:                </div><div class="ui-g-6 value">{{fData.DividendAmount}}</div>
            <div class="ui-g-6 title">DividendRate:                  </div><div class="ui-g-6 value">{{fData.DividendRate}}</div>
            <div class="ui-g-6 title">PayDate:                       </div><div class="ui-g-6 value">{{fData.PayDate}}</div>
            <div class="ui-g-6 title">ExdividendDate:                </div><div class="ui-g-6 value">{{fData.ExdividendDate}}</div>
            <div class="ui-g-6 title">ShortInterest:                 </div><div class="ui-g-6 value">{{fData.ShortInterest}}</div>
            <div class="ui-g-6 title">CurrentYearEPS:                </div><div class="ui-g-6 value">{{fData.CurrentYearEPS}}</div>
            <div class="ui-g-6 title">NextYearEPS:                   </div><div class="ui-g-6 value">{{fData.NextYearEPS}}</div>
            <div class="ui-g-6 title">FiveYearGrowthPercentage:      </div><div class="ui-g-6 value">{{fData.FiveYearGrowthPercentage}}</div>
            <div class="ui-g-6 title">FiscalYearEnd:                 </div><div class="ui-g-6 value">{{fData.FiscalYearEnd}}</div>
            <div class="ui-g-6 title">CompanyName:                   </div><div class="ui-g-6 value">{{fData.CompanyName}}</div>
            <div class="ui-g-6 title">OptionSymbol:                  </div><div class="ui-g-6 value">{{fData.OptionSymbol}}</div>
            <div class="ui-g-6 title">PercentHeldByInstitutions:     </div><div class="ui-g-6 value">{{fData.PercentHeldByInstitutions}}</div>
            <div class="ui-g-6 title">Beta:                          </div><div class="ui-g-6 value">{{fData.Beta}}</div>
            <div class="ui-g-6 title">Leaps:                         </div><div class="ui-g-6 value">{{fData.Leaps}}</div>
            <div class="ui-g-6 title">CurrentAssets:                 </div><div class="ui-g-6 value">{{fData.CurrentAssets}}</div>
            <div class="ui-g-6 title">CurrentLiabilities:            </div><div class="ui-g-6 value">{{fData.CurrentLiabilities}}</div>
            <div class="ui-g-6 title">BalanceSheetDate:              </div><div class="ui-g-6 value">{{fData.BalanceSheetDate}}</div>
            <div class="ui-g-6 title">LongTermDebt:                  </div><div class="ui-g-6 value">{{fData.LongTermDebt}}</div>
            <div class="ui-g-6 title">CommonSharesOutstanding:       </div><div class="ui-g-6 value">{{fData.CommonSharesOutstanding}}</div>
            <div class="ui-g-6 title">SplitFactor1:                  </div><div class="ui-g-6 value">{{fData.SplitFactor1}}</div>
            <div class="ui-g-6 title">SplitFactor2:                  </div><div class="ui-g-6 value">{{fData.SplitFactor2}}</div>
            <div class="ui-g-6 title">FormatCode:                    </div><div class="ui-g-6 value">{{fData.FormatCode}}</div>
            <div class="ui-g-6 title">Precision:                     </div><div class="ui-g-6 value">{{fData.Precision}}</div>
            <div class="ui-g-6 title">SIC:                           </div><div class="ui-g-6 value">{{fData.SIC}}</div>
            <div class="ui-g-6 title">HistoricalVolatility:          </div><div class="ui-g-6 value">{{fData.HistoricalVolatility}}</div>
            <div class="ui-g-6 title">SecurityType:                  </div><div class="ui-g-6 value">{{fData.SecurityType}}</div>
            <div class="ui-g-6 title">ListedMarket:                  </div><div class="ui-g-6 value">{{fData.ListedMarket}}</div>
            <div class="ui-g-6 title">FiftyTwoWeekHighDate:          </div><div class="ui-g-6 value">{{fData.FiftyTwoWeekHighDate}}</div>
            <div class="ui-g-6 title">FiftyTwoWeekLowDate:           </div><div class="ui-g-6 value">{{fData.FiftyTwoWeekLowDate}}</div>
            <div class="ui-g-6 title">CalendarYearHighDate:          </div><div class="ui-g-6 value">{{fData.CalendarYearHighDate}}</div>
            <div class="ui-g-6 title">CalendarYearLowDate:           </div><div class="ui-g-6 value">{{fData.CalendarYearLowDate}}</div>
            <div class="ui-g-6 title">YearEndClose:                  </div><div class="ui-g-6 value">{{fData.YearEndClose}}</div>
            <div class="ui-g-6 title">MaturityDate:                  </div><div class="ui-g-6 value">{{fData.MaturityDate}}</div>
            <div class="ui-g-6 title">CouponRate:                    </div><div class="ui-g-6 value">{{fData.CouponRate}}</div>
            <div class="ui-g-6 title">ExpirationDate:                </div><div class="ui-g-6 value">{{fData.ExpirationDate}}</div>
            <div class="ui-g-6 title">StrikePrice:                   </div><div class="ui-g-6 value">{{fData.StrikePrice}}</div>
            <div class="ui-g-6 title">NAICS:                         </div><div class="ui-g-6 value">{{fData.NAICS}}</div>
            <div class="ui-g-6 title">ExchangeRoot:                  </div><div class="ui-g-6 value">{{fData.ExchangeRoot}}</div>
          </div>
        </ng-container>
      </p-tabPanel>
    </p-tabView>

  </div>
</div>

