<div>
  <form>
    <input pInputText name="input" type="search" [(ngModel)]="query" [size]="20" />
    <button type="submit" pButton name="submit" label="Go" (click)="searchsymbol()" icon="fa-search"></button>
    <span style="font-size:small;visibility:hidden">&nbsp;US</span> <!-- keep the UI width the same as for other instruments having 'US' visible -->
  </form>
</div>

